// Основные цвета
$primary: #3502FF;
$secondary: #69C9F3;
$success: #BDFF02;
$warning: #FFE10A;
$danger: #FF00B8;
$dark: #000000;
$gray: #D1D9E8;
$white: #FAFDFF;
$green: #98CE00;
$form-feedback-valid-color: $green;
$form-feedback-invalid-color: #FF0039;

// Цвета фона
$body-bg: $white;
$navbar-bg: $gray;
$sidebar-bg: $dark;

// Цвета текста
$body-color: $dark;
$navbar-color: #FFFFFF;
$sidebar-color: #FFFFFF;

$body-font-family: 'Montserrat', sans-serif;
$font-size-base: 0.875rem;

$form-feedback-icon-valid-color:    $form-feedback-valid-color;
$form-feedback-icon-valid:          url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path fill='#{$form-feedback-icon-valid-color}' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/></svg>");
$form-feedback-icon-invalid-color:  $form-feedback-invalid-color;
$form-feedback-icon-invalid:        url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='#{$form-feedback-icon-invalid-color}'><circle cx='6' cy='6' r='4.5'/><path stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/><circle cx='6' cy='8.2' r='.6' fill='#{$form-feedback-icon-invalid-color}' stroke='none'/></svg>");

$form-validation-states: (
    "valid": (
        "color": $form-feedback-valid-color,
        "icon": $form-feedback-icon-valid
    ),
    "invalid": (
        "color": $form-feedback-invalid-color,
        "icon": $form-feedback-icon-invalid
    )
)