@import "~bootstrap/scss/bootstrap";
@import '~bootstrap-icons/font/bootstrap-icons';

.wrapper {
  display: flex;
  flex-direction: column;
}


.sidebar {
  height: calc(100vh - 60px);
  padding-top: 1rem;
  width: 280px;
  transition: width 0.3s;
}

.nav-item {
  color: #fff;
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.menu-text {
  margin-left: 1rem;
}

.collapsed {
  width: 80px;

  .menu-text {
    display: none;
  }
}

.navbar {
  background-color: #000;
  height: 60px;
}

.logout {
  margin-left: auto;
  color: #fff;
}

.menu-icon {
  font-size: 1rem;
}

.offcanvas-body {
  height: 100%;
  overflow-y: auto;
}

.navbar-logo {
  width: 134px;

  img {
    width: 134px;
  }
}

.toggle-sidebar {
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: var(--bs-navbar-color);
  background-color: transparent;
  border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition);
}

.left-nav-div {
  width: 280px;
}

@media (max-width: 991.98px) {

  .toggle-sidebar, .sidebar {
    display: none !important;
  }

}