{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <a href="{{ path('google.connect_start') }}" class="btn btn-primary">Войти с помощью Google</a>
    </div>
{% endblock %}