<section class="contacts" id="contacts">
    <div class="container">
        <div class="title-sec">Контакти</div>
    </div>
    <div class="contacts__map">
        <div class="contacts__iframe">
            <iframe class="contacts__iframe-inner" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2747.857137323277!2d30.74727469202336!3d46.47133769661346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c63170bb80b815%3A0xfbd9d6972e688fc2!2z0YPQuy4g0JHQvtC70YzRiNCw0Y8g0JDRgNC90LDRg9GC0YHQutCw0Y8sIDUsINCe0LTQtdGB0YHQsCwg0J7QtNC10YHRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNjUwMDA!5e0!3m2!1sru!2sua!4v1682281656869!5m2!1suk!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="container">
            <div class="contacts__bl j-wow j-wow-bottom">
                <div class="contacts__item">
                    <div class="contacts__item-title">Адреса:</div>
                    <div class="contacts__item-val">м. Одеса, вул. Велика Арнаутська 5</div>
                    <div class="contacts__item-val">м. Одеса, вул. Пастера 52</div>

                </div>
                <div class="contacts__item">
                    <div class="contacts__item-title">Графік роботи:</div>
                    <div class="contacts__item-val">Понеділок — Неділя (9:00–21:00)</div>
                </div>
                <ul class="contacts__phones">
                    <li>
                        <a href="tel:+380933010369">+38 (093) 301 03 69</a>
                    </li>
                </ul>
                <div class="contacts__social">
                    <div class="social">
                        <ul class="social__list">
                            <li class="social__li">
                                <a href="https://www.tiktok.com/@muzone_hub" class="social__a social__a--linkedin" target="_blank">
                                    <svg>
                                        <use xlink:href="{{ asset('build/images/icons.svg') }}#tiktok"/>
                                    </svg>
                                </a>
                            </li>
                            <li class="social__li">
                                <a href="https://t.me/muzonefam" class="social__a social__a--twitter" target="_blank">
                                    <svg>
                                        <use xlink:href="{{ asset('build/images/icons.svg') }}#telegram"/>
                                    </svg>
                                </a>
                            </li>
                            <li class="social__li">
                                <a href="https://www.instagram.com/muzone_music_hub/" class="social__a social__a--instagram" target="_blank">
                                    <svg>
                                        <use xlink:href="{{ asset('build/images/icons.svg') }}#instagram"/>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
