{% extends 'base.html.twig' %}

{% block body %}
<div class="wrapper">
    {% include('main/_header.html.twig') %}
    {% include('main/_banner.html.twig') %}
{#    {% include('main/_specials_banner.html.twig') %}#}
    {% include('main/_services.html.twig') %}
    {% include('main/_cost.html.twig') %}
    {% include('main/_gift.html.twig') %}
    {% include('main/_reviews.html.twig') %}
    {% include('main/_trial.html.twig') %}
    {% include('main/_сontacts.html.twig') %}
    {% include('main/_footer.html.twig') %}
</div>
    {% include('main/_telegram_contact_button.html.twig') %}
    {% include('main/_modal_trial_form.html.twig') %}
    {% include('main/_modal_prices_form.html.twig') %}


{% endblock %}
