@import 'global/_vars.scss';
@import 'global/_mixins.scss';
@import 'global/_normalize.scss';
@import 'global/_global.scss';
@import 'global/_header.scss';
@import 'sections/_banner.scss';
@import 'global/_btn.scss';
@import 'global/_form.scss';
@import 'sections/_services.scss';
@import 'sections/_cost.scss';
@import 'sections/_gift.scss';
@import 'sections/_reviews.scss';
@import 'sections/_trial.scss';
@import 'sections/_contacts.scss';
@import 'global/_modal.scss';
@import 'global/_footer.scss';