// Основные цвета
$primary: #3502FF;
$secondary: #FAFDFF;
$success: #BDFF02;
$warning: #FF00B8;
$danger: #FFFFFF;
$dark: #000000;

// Цвета фона
$body-bg: #FAFDFF;
$navbar-bg: $dark;
$sidebar-bg: $dark;

// Цвета текста
$body-color: $dark;
$navbar-color: #FFFFFF;
$sidebar-color: #FFFFFF;

$body-font-family: 'Montserrat', sans-serif;
$font-size-base: 0.875rem;
