imports:
  - { resource: 'controllers.yaml' }
  - { resource: 'admin/*.yaml' }

parameters:
  telegram_chat_id_notify: '%env(TELEGRAM_CHAT_ID_NOTIFY)%'
  telegram_thread_id_notify: '%env(TELEGRAM_THREAD_ID_NOTIFY)%'
  telegram_bot_token: '%env(TELEGRAM_BOT_TOKEN)%'

services:

  Infrastructure\Symfony\ArgumentResolver\SaveLeadCommandArgumentResolver:
    tags: [ 'controller.argument_value_resolver' ]

  Infrastructure\Symfony\ArgumentResolver\ChangeUserFieldArgumentResolver:
    tags: [ 'controller.argument_value_resolver' ]


  admin.user.change_user_field.handler:
    class: Application\Admin\User\ChangeUserFieldHandler
    arguments:
      - '@user.repository'

  user.provider:
    class: Infrastructure\Symfony\Security\UserProvider
    arguments:
      - '@user.repository'

  user.repository:
    class: Infrastructure\Persistence\Psql\User\UserRepository
    arguments:
      - '@uuid.factory'
      - '@database_connection'
      - '@user.factory'

  user.factory:
    class: Infrastructure\Persistence\Psql\User\UserFactory

  infrastructure.images:
    class: Infrastructure\Twig\GlobalVariables

  lead_repository.psql:
    class: Infrastructure\Persistence\Psql\Repository\LeadRepository
    arguments:
      - '@database_connection'
      - '@uuid.factory'
      - '@lead_factory'

  lead_factory:
    class: Domain\Lead\LeadFactory
    arguments:
      - '@lead.contact_factory'

  lead_repository:
    alias: lead_repository.psql

  lead.contact_factory:
    class: Domain\Lead\Contact\ContactFactory

  lead.message_bus.notifier:
    class: Infrastructure\Symfony\Messenger\Notifier\MessengerNotifier
    arguments:
      - '@messenger.bus.default'

  lead.message_bus.telegram.notifier_handler:
    class: Infrastructure\Symfony\Messenger\Handler\TelegramNotificationHandler
    tags: [messenger.message_handler]
    arguments:
        - '@lead.telegram.notifier'

  lead.telegram.notifier:
    class: Infrastructure\Telegram\TelegramNotifier
    arguments:
      - '%telegram_chat_id_notify%'
      - '%telegram_thread_id_notify%'
      - '@telegram.client'

  guzzle.client:
    class: GuzzleHttp\Client

  telegram.client:
    class: Infrastructure\Telegram\TelegramClient
    arguments:
      - '%telegram_bot_token%'
      - '@guzzle.client'

  lead.notifier:
    alias: lead.message_bus.notifier

  lead.handler_save:
    class: Application\Lead\SaveLeadHandler
    arguments:
      - '@lead_repository'
      - '@lead.contact_factory'
      - '@lead.notifier'

  google_authenticator:
    class: Infrastructure\Symfony\Security\GoogleAuthenticator
    arguments:
      - '@oauth2.registry'
      - '@router'
      - '@user.repository'

  security.auth.entry_point:
    class: Infrastructure\Symfony\Security\AuthenticationEntryPoint
    arguments:
      - '@router'