@mixin scrollbars($size, $scrollbar, $thumb) {
    scrollbar-width: thin;
    scrollbar-color: $thumb $scrollbar !important;
    &::-webkit-scrollbar {
        width: $size;
        height: $size;
        background: $scrollbar;
    }
    &::-webkit-scrollbar-thumb {
        background: $thumb;
        width: 100%;
        cursor: pointer;
        border-radius: 5px;
    }
}